.question-view {
    background-color: #FCFCFC;
    box-shadow: 0 0 4px 2px #ccc;
    margin-top: 1.5em;
    padding: 10px;
    width: 100%;

    .answers {
        margin-top: 1em;
        text-align: center;
        width: 100%;
    }

    .radio-group {
        display: inline-flex;
        flex-direction: row;
    }
}
